ConnectToServiceAssignment/App_WebReferences/CommunityAssistReference/CommunityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1805/CommunityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1805/CommunityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1805/CommunityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommunityService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_ReviewGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewGrant" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_ReviewGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewGrantResponse" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_newGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:newGrant" />
  </wsdl:message>
  <wsdl:message name="ICommunityService_newGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:newGrantResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommunityService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityService/Login" message="tns:ICommunityService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityService/LoginResponse" message="tns:ICommunityService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityService/RegisterUser" message="tns:ICommunityService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityService/RegisterUserResponse" message="tns:ICommunityService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityService/ReviewGrant" message="tns:ICommunityService_ReviewGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityService/ReviewGrantResponse" message="tns:ICommunityService_ReviewGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommunityService/newGrant" message="tns:ICommunityService_newGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommunityService/newGrantResponse" message="tns:ICommunityService_newGrant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommunityService" type="tns:ICommunityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICommunityService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ICommunityService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewGrant">
      <soap:operation soapAction="http://tempuri.org/ICommunityService/ReviewGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <soap:operation soapAction="http://tempuri.org/ICommunityService/newGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunityService">
    <wsdl:port name="BasicHttpBinding_ICommunityService" binding="tns:BasicHttpBinding_ICommunityService">
      <soap:address location="http://localhost:1805/CommunityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>